[Desktop Entry]
Name=Register
Comment=Inoffizieller Client für das Digitale Register
Exec=digitales_register %U
TryExec=digitales_register
Icon=io.github.mideb.digitales_register
Terminal=false
Type=Application
Categories=Education;
StartupWMClass=Register
